{% load process_tags %}
{% load rest_framework %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Approve Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Basic List Group</h2>
  <ul class="list-group">
     <div class="panel pb-15">

    <div class="panel-body">

<table class="table table-striped" id="">
  <thead>
    <tr>
        {% for field in fields %}
            {% if field == "request_status" %}
<th><b>Request Status</b></th>
            {% elif field == "id" %}
                {% else %}
                <th><b>{{ field|title }}</b></th>
            {% endif %}


        {% endfor %}
        <th><b>Action</b></th>
    </tr>
  </thead>
  <tbody>
{% for process in queryset %}
     <tr>
 {% for field in fields %}
     {% if field == "id" %}
        {% else %}
      <th><b>{{ process| field_name:field }}</b></th>
     {% endif %}


{% endfor %}
     <th><a id="approve-{{ process| field_name:"id" }}" href="#modal-container-process" role="button" data-toggle="modal" title="Approve"
        class="pull-right btn btn-sm btn-success btn-ansr-orange">
                            approve
                          </a></th>
      <th><a id="reject-{{ process| field_name:"id" }}" href="#modal-container-process" role="button" data-toggle="modal" title="Reject"
        class="pull-right btn btn-sm btn-danger btn-ansr-orange">
                            reject
                          </a></th>

</tr>

{% endfor %}

</table>


</div>
     </div>
  </ul>

</div>
<div class="modal fade" id="modal-container-process">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Action</h4>
        </div>

        <div class="modal-body">

<form id="modal-container-process-submit" method="post" enctype="multipart/form-data">
    {% csrf_token %}
          <p>{% render_form serializer template_pack='rest_framework/vertical' %}</p>
            <button type="submit" class="btn btn-default" >Submit</button>
     </form>
        </div>
        <div class="modal-footer">

        </div>

      </div>

    </div>
  </div>

</div>

</body>
</html>

<script>

     //ajax request for registering a leave on modal popup open
  $("#modal-container-process").on('shown.bs.modal', function(e) {
      button = e.relatedTarget;
      var status_check = button.id.includes("reject");
      var container = document.getElementById("modal-container-process-submit");
      var input1 = document.createElement("input");
      input1.type = "hidden";
      input1.name = "id";
      var input2 = document.createElement("input");
      input2.type = "hidden";
      input2.name = "action"
      if(status_check){
          pk = button.id.substring(7);
          action = button.id.substring(0,6);
          input1.value = pk;
          input2.value = action;
          container.appendChild(input1);
                // Append a line break
          container.appendChild(document.createElement("br"));
          container.appendChild(input2);
                // Append a line break
          container.appendChild(document.createElement("br"));
      }
      else{
          pk = button.id.substring(8);
          action = button.id.substring(0,7);
            input1.value = pk;
          input2.value = action;
          container.appendChild(input1);
                // Append a line break
          container.appendChild(document.createElement("br"));
          container.appendChild(input2);
                // Append a line break
          container.appendChild(document.createElement("br"));
      }

  });


    </script>